body{
  font-family: "Noto Serif", serif;
  /* background-color: rgba(61, 172, 254, 1.00); */
  }

  .inter-font{
    font-family: "Inter", sans-serif;
  }
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* header part (navbar+banner) */
.conteiner{
  max-width: 1280px;
  margin: 0 auto;
}
.navbar{
  max-width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img{
  max-width: 135px;
}
.nav-links{
  display: flex;
  list-style: none;
  gap: 48px;
}
.nav-links a{
  text-decoration: none;
}
.nav-links a:nth-child(1),
.nav-links a:nth-child(4){
  font-weight: bold;
  color: #252432;
}
.nav-links a:nth-child(2),
.nav-links a:nth-child(3){
  color: #8987A1;
}
.banner{
  max-width: 80%;
  margin: 120px auto;
  display: flex;
  justify-content: space-between;
  align-items: end;
  
}
.banner-content{
  max-width: 50%;
}
.banner-content h1{
  font-size: 3.5rem;
  font-weight: bold;
}
.banner-content span{
  color: #E95A08;
}
.banner-content p{
  font-size: 1.10rem;
  color: rgba(0, 0, 0, 0.50);
  max-height: 107px;
  margin-top: 13px;
}


/* main part  */

.plant-cards{
  max-width: 80%;
  margin: 0 auto;
}
.card-details{
  /* text-align: center; */
text-align: center;
}
.plant-card-title{
  font-size: 3rem;
  font-weight: bold;
 
}
.plant-card-title span{
  color: #E95A08;
}
.plant-card-subtitle{
  font-size: 1.10rem;
  color: #8987A1;
  max-width: 888px;
  /* margin-top: 16px; */
  margin: 16px auto 0;
}
.cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 20px;
  margin-top: 40px;
  text-align: center;
}
.card img{
  max-width: 270px;
  max-height: 320px;
}
.card-name{
  font-size: 1.3rem;
  color: #111111;
  font-weight: 600;
  max-width: 130px;
  margin: 30px auto 0;
}
.card-price{
  font-size: 1.3rem;
  color: #111111;
  font-weight: bold;
  max-width: 81px;
  margin: 20px auto 0;
}
.card button{
   margin-top: 30px;
  background-color: #E95A08;
  border: none;
  color: #FFFFFF;
  padding: 19px 85px;
}